$main-color: #03A63D;
$sec-color: #FF7062;
$text-color: #091B3D;

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none !important;
}

.gold {
    color: #F5B544 !important;
}

.x-flip {
    transform: rotate(180deg);
}

.breadcrumb {
    background-image: url(../imgs/bread-crumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;


}



.restaurant-details {

    .rest-infos {
        padding: 35px;
        background-color: #30435070;
        border-radius: 20px;
        margin-top: -120px;
        backdrop-filter: blur(10px);

        .res-name {
            text-align: center;
            color: #fff;
        }

        .res-address {
            text-align: center;
            color: $sec-color;
            margin-bottom: 30px;
        }

        .rest-btns {

            .btn {
                background-color: #FFD9D5;
                outline: none;
                border-radius: 14px;
                margin: 0 4px;
                color: $sec-color;
            }

            .rate {
                i {
                    color: #f1cf0e;
                }
            }

        }
    }

    .table-serve {
        background-color: $main-color;
        padding: 15px;
        border-radius: 12px;

        .title {
            color: #fff;
        }

        .prise {
            color: #fff;
            background-color: #05294120;
            border-radius: 10px;
            padding: 10px;
        }
    }

    .resturants {

        .title {
            color: #304350;
        }

        .item {
            background-image: url(../imgs/photo-1.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 185px;
            border-radius: 43px;
            position: relative;
            overflow: visible;
            display: flex;
            flex-direction: column-reverse;

            .text-content {
                position: relative;
                border-radius: 0px 0px 43px 43px;
                backdrop-filter: blur(10px);
                padding: 15px 20px 14px 10px;

                &::after {
                    position: absolute;
                    content: '';
                    top: 20px;
                    left: -26px;
                    border-radius: 18px 50px 22px 22px;
                    transform: rotate(0deg);
                    background-color: #fff;
                    width: 78px;
                    height: 66px;
                    z-index: -1;
                }




                .title {
                    font-size: 13px;
                    color: #ffffff;
                    text-align: start;
                    font-weight: normal;
                    margin-bottom: 0;
                }

                .prise {
                    text-align: start;
                    font-weight: bold;
                    color: #fff;
                }

                .add-meal {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    background-color: $sec-color;
                    border-radius: 10px;
                    padding: 4px 10px;
                    color: #fff;
                }

            }
        }
    }



}



.rest-about {

    .content {
        background-color: #F9F9F9;
        border-radius: 50px;
        padding: 56px;
        margin: 20px;

        p {
            margin-bottom: 10px;
            color: #304350;
        }

        .video {
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            .play-btn {
                position: absolute;
                font-size: 25px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: #F29F05;
                color: #fff;
                border-radius: 20px;
                padding: 18px 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease-in-out;

                &:hover {
                    opacity: 0.7;
                }

            }


        }
    }

    .gps {
        background-color: #F9F9F9;
        border-radius: 50px;
        padding: 56px;
        margin: 20px;
        min-height: 420px;

        .rest-name,
        .rest-phone {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $text-color;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .rest-address {
            margin-top: 50px;

            .title {
                margin-bottom: 20px;
            }

            .location-div {
                padding: 10px;
                background-color: #fff;
                border-radius: 12px;
                display: flex;

                .img-div {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: url(../imgs/map.png);
                    background-size: cover;
                    border-radius: 12px;
                    overflow: hidden;

                    img {
                        width: auto;
                        height: 70px;
                    }
                }

                .location-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        color: #878787;
                    }

                    a {
                        color: $main-color;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: end;
                        transition: color .3s ease-in-out;

                        &:hover {
                            color: $sec-color;
                        }
                    }

                }



            }


        }
    }

}



.rating-section {

    .rating-div {
        background-color: #F9F9F9;
        padding: 15px 40px;
        border-radius: 20px;
        margin-top: 25px;

        .right-div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .rate-star {
                color: $sec-color;
                font-weight: bold;

                i {
                    color: #f1cf0e;
                }
            }

            p {
                color: $text-color;
            }
        }

        .side {
            float: left;
            width: 15%;
            margin-top: 10px;
        }

        .middle {
            margin-top: 10px;
            float: left;
            width: 80%;
        }

        /* Place text to the right */
        .right {
            text-align: right;
        }

        .bar-container {
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            color: white;
            border-radius: 12px;
        }

        /* Individual bars */
        .bar-5 {
            width: 60%;
            height: 18px;
            background-color: #4B9F47;
            border-radius: 12px;
        }

        .bar-4 {
            width: 30%;
            height: 18px;
            background-color: #4b9f47bf;
            border-radius: 12px;
        }

        .bar-3 {
            width: 20%;
            height: 18px;
            background-color: #4b9f4799;
            border-radius: 12px;
        }

        .bar-2 {
            width: 10%;
            height: 18px;
            background-color: #F5B544;
            border-radius: 12px;
        }

        .bar-1 {
            width: 15%;
            height: 18px;
            background-color: #E6521F;
            border-radius: 12px;
        }
    }

    .add-comment-rate {

        .add-rate {
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            padding: 10px 18px;
            border-radius: 20px;

            .star-rating {
                font-size: 15px;
                padding: 10px;
                margin-right: 10px;
                border-right: 5px solid $sec-color;

                .fa-star {
                    color: #a8a8a8;
                }

            }

            .star-rating span:hover {
                color: #F5B544;
            }

            p {
                color: $text-color;
            }
        }

        .add-comment {
            text-align: center;
            background: #fff;
            border-radius: 20px;
            padding: 10px;
            cursor: pointer;
            transition: box-shadow .3s ease-in-out;

            &:hover {
                box-shadow: 0px 3px 6px #ddd;
            }

            button {
                color: #989898;
            }

        }





    }
}






/* -----------------------------------------------*/
/* -----------------------------------------------*/
/* -----------------------------------------------*/
/* ----------------------   table-serve page     -------------------*/
/* -----------------------------------------------*/
/* -----------------------------------------------*/
/* -----------------------------------------------*/

.table-serve-page {
    .breadcrumb h3 {
        padding: 14px 35px;
        background-color: #30435070;
        border-radius: 20px;
        color: #fff;
        margin-top: -30px;
        width: 360px;
        text-align: center;
        backdrop-filter: blur(10px);
    }

    .serve-form {

        .month-day-slider {
            padding: 14px 35px;
            background-color: #30435070;
            border-radius: 20px;
            color: #fff;
            margin-top: 30px;
            text-align: center;
            backdrop-filter: blur(10px);

            .owl-dots {
                display: none !important;
            }

            .owl-prev {
                position: absolute;
                right: 35%;
                top: -8px;
                font-size: 16px;
                font-weight: bold;

                &:hover {
                    background: #ffffff00;
                }
            }

            .owl-next {
                position: absolute;
                left: 35%;
                top: -8px;
                font-size: 16px;
                font-weight: bold;

                &:hover {
                    background: #ffffff00;
                }
            }


            .day-carousel {

                .owl-prev {
                    position: absolute;
                    right: -2%;
                    top: 0px;
                    font-size: 16px;
                    font-weight: bold;
    
                    &:hover {
                        background: #ffffff00;
                    }
                }
    
                .owl-next {
                    position: absolute;
                    left: -2%;
                    top: 0px;
                    font-size: 16px;
                    font-weight: bold;
    
                    &:hover {
                        background: #ffffff00;
                    }
                }

                .disabled {
                    display: block;
                }
            }

        }

        
    }

 
}

.restaurant-details .resturants .item .text-content .add-meal::before {
    content: "";
    position: absolute;
    border: 27px solid transparent;
    bottom: 130%;
    left: -1px;
    border-bottom-left-radius: 30px;
    box-shadow: -12px 0px 0 0 #fff;
  }