:root {
    --semi-white-color: #d1d4d6;
    --main-color: #03a63d;
    --sec-color: #ff7062;
    --title-color: #304350;
    --loading-grey: #ededed;
}

/* global rules  */
.text-yellow {
    color: #F29F05;
}

.text-green {
    color: #03A63D;
}

.text-red {
    color: #F2451D;
}

.text-gray {
    color: #7A878F;
}

.bg-yellow {
    background-color: #FEF5E5;
}

.bg-red {
    background-color: #FEECE8;
}

.bg-green {
    background-color: #E5F6EB;
}

.bg-gray {
    background-color: #F8F8F8;
}

.bg-blue {
    background-color: #C2F0FF;
}

.bg-semi-green {
    background-color: #E3FFDB;
}

.title {
    color: var(--title-color);
}

.x-flip {
    transform: rotate(180deg);
}

/* start the navbar  */
.the-navbar {
    box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.35);
}

.navbar-brand img {
    width: 100px;
}

.navbar-light .navbar-toggler {
    box-shadow: none;
}


.navbar-nav {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item .nav-link {
    align-items: center;
    color: #d1d4d6;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--main-color);
    position: relative;
}

.navbar-nav .nav-item .nav-link.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 68px;
    opacity: 0.1;
    background-color: #000000;
    opacity: 4%;
    z-index: -1;
}

.navbar-nav .notafications {
    position: relative;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    background-color: #ced1d4;
}

.navbar-nav .notafications .nav-link {
    height: 50px;
    text-align: center;
}

.navbar-nav .notafications i {
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 35px;
}

.navbar-nav .notafications .nav-link span {
    position: absolute;
    left: -10px;
    top: -10px;
    background-color: #f2451d;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 16px;
}

.navbar-nav .nav-item .dropdown-menu.show {
    top: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.dropdown-menu-dark img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.dropdown-menu-dark li {
    min-height: 45px;
    margin: 0 15px;
}

.dropdown-menu-dark .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: 1s;
    line-height: 45px;
}

.dropdown-menu-dark .dropdown-item:hover {
    color: var(--sec-color);
}



.owl-carousel.owl-rtl .owl-item {
    display: flex;
    justify-content: center;
}

@media (max-width:992px) {
    .navbar-nav .nav-item .nav-link.active::before {
        display: none;
    }
}

.toggeler .list-group .list-group-item:hover::before {
    right: 0;
}

.toggeler .list-group .list-group-item:last-child {
    background-color: var(--sec-color);
}

.toggeler .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* start the home page style  */
/* search area style  */
.home-search .agent .btn {
    background-color: #ced1d4;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
}

.home-search .agent .btn:focus {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.search .form-control {
    border-radius: 10px;
    background-color: #f0f0f0;
    border: none;
}

.search .form-control:focus {
    box-shadow: none;
    border: none;
}

.search .btn {
    background-color: var(--sec-color);
    border: none;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    color: #fff;
}

.search .btn i {
    font-size: 20px;
}

/* resturants style  */
.resturants .item .img-container {
    background-image: url(../imgs/photo-2.webp);
    min-width: 290px;
    background-size: cover;
    height: 275px;
    border-radius: 20%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.resturants .item .info .distance,
.resturants .item .info .offer {
    position: absolute;
    display: inline-block;
    top: 20px;
    background-color: rgb(3 166 61 / 60%);
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}

.resturants .item .info .distance {
    right: 30px;
}

.resturants .item .info .offer {
    left: 30px;
}

.resturants .item .info span {
    opacity: 1;
}

.resturants .item .text-content {
    text-align: center;
    background-color: #475e6eba;
    border-radius: 65px;
}

.resturants .item .text-content .title {
    color: #fff;
    font-size: 1.4rem;
}

.resturants .item .text-content .desc {
    color: #F29F05;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.resturants .item .text-content .desc::before,
.resturants .item .text-content .desc::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: #F29F05;
    top: 50%;
    transform: translateY(-50%);
}

.resturants .item .text-content .desc::before {
    left: -20px;
}

.resturants .item .text-content .desc::after {
    right: -20px;
}

.resturants .owl-theme .owl-dots {
    display: none;
}

.resturants .owl-carousel .owl-nav button.owl-prev,
.resturants .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 110px;
    background-color: var(--sec-color);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    opacity: .5;
    transition: .7s;
}

.resturants .owl-carousel .owl-nav button.owl-prev {
    right: -15px;
}

.resturants .owl-carousel .owl-nav button.owl-next {
    left: -15px;
}

.resturants .owl-carousel .owl-nav button.owl-prev:hover,
.resturants .owl-carousel .owl-nav button.owl-prev:focus,
.resturants .owl-carousel .owl-nav button.owl-next:hover,
.resturants .owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
    opacity: 1;
}

/* categoury area*/

.categories .main-title a {
    text-decoration: none;
    font-weight: bold;
    color: #035AA7;
}

.categories .cats-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.categories .cats-links .cat-link {
    width: 100px;
    text-align: center;
    height: 45px;
    border-radius: 8px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 15px;
}

.categories .cats-links .cat-link a {
    text-decoration: none;
}

/* most famous resturants */
.most-visted-owl .item {
    max-width: 210px !important;
    border: 1px solid #f0f0f0;
    border-radius: 25px;
}

.most-visted-owl .img-content {
    position: relative;
}

.most-visted-owl .img-content img {
    max-width: 210px;
}

.most-visted-owl .img-content .rate {
    position: absolute;
    right: 15px;
    top: 20px;
    background-color: #090909b7;
    width: 60px;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    opacity: 0.9;
}

.most-visted-owl .img-content .rate span {
    color: #FF7062;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.most-visted-owl .img-content .rate i {
    color: gold;
    font-size: 18px;
}

.most-visted-owl .img-content .fav {
    position: absolute;
    left: 13px;
    top: 15px;
    width: 45px;
    background-color: #090909b7;
    opacity: .9;
    border-radius: 10px;
    height: 39px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    cursor: pointer;

}

.most-visted-owl .img-content .fav i {
    font-size: 22px;
}

.most-visted-owl .card-details .resturant-details {
    padding: 10px;
}

.most-visted-owl .card-details .resturant-details .resturant-cat p {
    color: var(--sec-color);
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
}

.most-visted-owl .card-details .resturant-details .resturant-name h2 {
    margin: 5px 0;
    font-size: 1.35rem;
    display: inline-block;
}

.most-visted-owl .card-details .rent-detail {
    border-top: 1px solid #b3ff9e;
    width: 100%;
    border-radius: 0 0 15px 15px;
    text-align: center;
    line-height: 40px;
}

.most-visted-owl .owl-nav button.owl-prev,
.most-visted-owl .owl-nav button.owl-next {
    position: absolute;
    top: 180px;
    width: 45px;
    background-color: var(--sec-color);
    height: 45px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    line-height: 5px;
    color: #fff;
    font-weight: bold;
    opacity: .7;
    transition: .5s;
}

.most-visted-owl .owl-nav button.owl-prev:hover,
.most-visted-owl .owl-nav button.owl-next:hover,
.most-visted-owl .owl-nav button.owl-prev:focus,
.most-visted-owl .owl-nav button.owl-next:focus {
    opacity: 1;
    outline: none;
    background-color: var(--sec-color);
}

.most-visted-owl .owl-nav button.owl-prev {
    right: -15px;
}

.most-visted-owl .owl-nav button.owl-next {
    left: -15px;
}

.most-visted-owl .owl-dots {
    display: none;
}


/* notifications area style  */
.notafications .modal.show .modal-dialog {
    transform: translate(-100px, 40px);
    min-height: 550px;
    max-width: 500px;
}

@media (max-width:768px) {
    .notafications .modal.show .modal-dialog {
        transform: translate(0px, 40px);
    }
}

.notafications .modal-dialog-scrollable {
    height: calc(100% - 4.5rem);
}

.notafications .modal-title {
    font-size: 1.5rem;
    color: var(--main-color);
}

.notafications .modal-content {
    border-radius: 40px;
}

.notafications .modal-header {
    display: block;
    border-bottom: none;
    padding: 1rem 1rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.notification-content {
    padding: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    margin-bottom: 25px;
}

.notification-content .notification-img img {
    width: 120px;
    height: 120px;
    margin-left: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    ;
}

.notification-content .notification-text {
    display: flex;
    flex-direction: column;
}

.notification-content .notification-text .text-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.notification-content .text-header .rest-name {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.notification-content .text-header .notification-type {
    position: relative;
    left: unset;
    top: unset;
    background: none;
    color: #F29F05;
    border: none;
    border-radius: unset;
    width: unset;
    height: unset;
    font-size: 12px;
}

.notification-content .text-header .notification-type::after,
.notification-content .text-header .notification-type::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    width: 5px;
    height: 2px;
    background-color: #F29F05;
}

.notification-content .text-header .notification-type::after {
    left: -10px;
}

.notification-content .text-header .notification-type::before {
    right: -10px;
}

.notification-content .text-content p {
    color: #777;
}


/* categories page style */
.cats .container {
    align-items: center;
    justify-content: center;
}

.cats .content-area {
    width: 130px;
    height: 130px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.cats .content-area a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}


/* reservation area  */
.reservation-area .current-reservation .current-txt {
    color: var(--main-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.reservation-area .reservation-content {
    margin: 20px 0;
    padding: 25px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 50%);
}

.reservation-area .current-reservation .current-container {
    position: relative;
    margin-top: 20px;
    border: 1px solid #fefefe;
    padding: 20px;
    border-radius: 25px;
}

.prev-container.confirmed,
.current-container.confirmed {
    background-color: #E5F6EB;
}

.prev-container.pending,
.current-container.pending {
    background-color: #FFECD1;
}

.reservation-area .current-reservation .current-content {
    align-items: center;
    justify-content: space-between;
}

.reservation-area .customer-img img {
    border: 2px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

.food-type {
    font-weight: 500;
    color: #304350;
}

.resturant-name {
    font-size: 1.25rem;
    color: var(--main-color);
}

.reservation-area .reservation-details {
    display: flex;
    flex-direction: column;
}

.reservation-area .reservation-details .resurvation-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .reservation-area .current-reservation .reservation-details .resurvation-info span {
    font-weight: 500;
    color: #000;
    font-size: 1rem;
} */

.reservation-area .current-reservation .reserve-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation-area .current-reservation .reserve-btns .btn-call,
.reservation-area .current-reservation .reserve-btns .btn-pay,
.reservation-area .current-reservation .reserve-btns .btn-cancel {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 500;
    transition: .5s;
    box-shadow: none;
}

.reservation-area .reserve-btns .btn-call {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.reservation-area .current-reservation .reserve-btns .btn-cancel {
    border: 1px solid #FF1700;
    color: #FF1700;
}

.reservation-area .reserve-btns .btn-call:hover {
    background-color: var(--main-color);
    color: #fff;
}

.reservation-area .current-reservation .reserve-btns .btn-cancel:hover {
    background-color: #FF1700;
    color: #fff;
}

.reservation-area .reserve-btns .btn-pay {
    background-color: var(--main-color);
    color: #fff;
}

.warnning {
    width: 100%;
    text-align: center;
    border: 1px dashed #919191;
    border-radius: 20px;
    padding: 10px;
}

.warnning p {
    font-size: 18px;
    font-weight: bold;
    width: 75%;
    margin: auto;
    color: #304350;
}

.warnning.cost {
    padding: 20px;
}

.rent-cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rent-cost .detail {
    font-size: 16px;
    font-weight: bold;
}

.rent-cost .cost {
    font-size: 14px;
    color: #555;
}

/* prev reservation area */
.reservation-area .prev-reservation .prev-txt {
    color: #FF7062;
    font-size: 1.25rem;
    font-weight: 500;
}


.reservation-area .prev-reservation .prev-container {
    position: relative;
    margin-top: 20px;
    border: 1px solid #fefefe;
    padding: 20px;
    border-radius: 25px;
}

.prev-reservation .reserve-btns {
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.prev-reservation .reserve-btns .btn-pay,
.prev-reservation .reserve-btns .btn-call {
    border-radius: 20px;
    padding: 10px 5px;
}

.reservation-status {
    position: absolute;
    width: 100px;
    left: 20px;
    top: -15px;
    height: 30px;
    align-items: center;
    border-radius: 12px;
    color: #fff;
    padding: 10px;
}

.reservation-status.confirmed {
    background-color: var(--main-color);
}

.reservation-status.canceled {
    background-color: #FF1700;
}

/* the cart page style  */
.cart-item {
    width: 100%;
    background-color: #FFECD1;
    border-radius: 25px;
}

.cart-item .resturant-details {
    flex-direction: column;
    padding: 1.5rem;
    position: relative;
}

.cart-item .resturant-details::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid gold;
    left: 50px;
    top: 50px;
}

.cart-item .customer-img {
    width: 100px;
    height: 100px;
}

.cart-item .customer-img img {
    width: 100%;
    padding: 1.5rem 0 1.5rem 1.5rem;
}

.cart-item .order-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item .order-btns .btn-edit,
.cart-item .order-btns .btn-cancel,
.cart-item .order-btns .btn-pay {
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 25px;
    font-weight: 500;
    text-align: center;
    transition: 1s;
    box-shadow: none;
}

.cart-item .order-btns .btn-edit {
    color: var(--main-color);
    border-color: var(--main-color);
}

.cart-item .order-btns .btn-cancel {
    color: #FF1700;
    border-color: #FF1700;
}

.cart-item .order-btns .btn-edit:hover,
.cart-item .order-btns .btn-cancel:hover {
    color: #fff;
}

.cart-item .order-btns .btn-edit:hover {
    background-color: var(--main-color);
}

.cart-item .order-btns .btn-cancel:hover {
    background-color: #FF1700;
}

.cart-item .order-btns .btn-pay {
    color: #fff;
    background-color: var(--main-color);
}

/* testemonials style  */
.cust-details {
    position: relative;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 40px;
}

.testemonials-div .cust-img {
    padding: 10px;
    width: 100px;
    padding-right: 0;
}

.cust-name {
    font-size: 1.25rem;
}

.cust-text {
    font-size: .75rem;
}

.cust-rate {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cust-rate i {
    color: gold;
    font-size: 1.35rem;
}

.cust-rate span {
    font-size: 1rem;
    font-weight: bold;
    padding: 0px 5px 2px 5px;
    color: var(--sec-color);
}

/* heart animation create  */
.heart {
    position: absolute;
    left: -15px;
    top: -15px;
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    opacity: 0;
    z-index: 999;
}

.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
    opacity: 1;

}

/* allresturants page style  */
.rusturant-card {
    width: 300px;
    text-decoration: none;
    position: relative;
    border-radius: 30px;
}

.rusturant-card .img-content img {
    width: 100%;
    text-decoration: none;
    border-radius: 30px;
}

.rusturant-card .rate {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    background-color: #000000b0;
}

.rusturant-card .rate span {
    color: #ff7062;
    font-weight: bold;
}

.rusturant-card .rate i {
    color: gold;
}

.rusturant-card .fav {
    position: absolute;
    left: 13px;
    top: 15px;
    width: 45px;
    background-color: #000000b0;
    opacity: .9;
    border-radius: 10px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.rusturant-card .resturant-cat p {
    margin-bottom: 0;
    color: #FF7062;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.rusturant-card .rent-detail {
    border-radius: 0 0 20px 20px;
    text-align: center;
    margin-top: 15px;
}

.rusturant-card .rent-detail p {
    padding: 10px;
}

/* skeleton card  animation*/


.card {

    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
}

.card .image {
    height: 175px;
}

.card .image img {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.card .content {
    padding: 1rem;
}

.card .content h4 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.card .description {
    font-size: 1rem;
    line-height: 1.4rem;
}

.loading .image,
.loading h4,
.loading .description {
    background-color: var(--loading-grey);
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}

.loading h4 {
    min-height: 1.6rem;
    border-radius: 4px;
    animation-delay: .05s;
}

.loading .description {
    min-height: 4rem;
    border-radius: 4px;
    animation-delay: .06s;
}